apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: mindx-api-ingress
  namespace: dev
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
    - http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: mindx-api
                port:
                  number: 80
